body{
    background-color:gainsboro;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.FirstPerson,.secoundPerson {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.nartoo-health, .saskii-health{
    display: block;
    margin: 1% 0;
    background-color: green;
    color: gray;
    height: 20px;
    width: 100%;
    
}

.firstPerson-img,.secoundPerson-img{
    width: 50%;
}

.narto-controller, .saskii-controller{
    margin-bottom: 2%;
}
.result{
    color: red;
}